@use 'base' as *;

.navigation { 
    height: 70px;
    min-width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url(/assets/images/animals/3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        width: 100px;
        height: 100px;
        background-image: url(/assets/images/logos/Dolfijn.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu-icon {
        width: 26px;
        height: 20px;
        position: relative;
        cursor: pointer;

        .line {
            width: 100%;
            height: 2px;
            background-color: $color-primary;
            position: absolute;
            right: 0;

            &:nth-child(1) {
                top: 0;
                width: 100%;
            }
            &:nth-child(2) {
                top: 10px;
                width: 75%;
            }
            &:nth-child(3) {
                top: 20px;
                width: 50%;
            }
        }
    }
}


.banner {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-white;
    min-width: 360px;
    
    img {
        max-width: 100%;
        height: auto;
        transform: scaleX(-1);
        opacity: 60%;
    }

    .banner-text {
        position: absolute;
        margin-left: 20px;
        .header-text {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            h1 {
                @include header_text(40px);
                margin-bottom: -10px;
            }

            #title-size {
                @include header_text(60px);
            }
        }
        p {
            @include paragraph_text();
        }
        span {
            font-size: 20px;
            color: $color-primary;
            font-weight: 500;
        }
    }
}